
body {
    background-color: lightblue;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 1px;
}

/*.center {
    text-align: center;
}*/

input, select {
    border-radius: 2px;
}